* {
    box-sizing: border-box;
}

html {
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}



header {
    
    box-shadow: 0 2px 8px rgba(143, 74, 74, 0.26);
    
    margin: 1rem auto;
  
    border-radius: 15px;
 
    padding: 1rem;
    background-color: #e6e9e8;
    color: rgb(197, 53, 53);
    text-align: center;
    width: 90%;
    /* ширина заголовка */
    max-width: 40rem;
}


table, td, th {
    border: 1px solid;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

#ul_popup {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#ul_spec{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

li {
    list-style-type: none;
   
}

@import url('https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css');

.container {
    margin-top: 10px;
}


#li_feat{
    background: #cce5ff;
    color: darkblue;
    /* margin: 5px; */
}

#li_head{
    background: #cabdbf;
    color: #ca2f2f;
    margin: 5px;
}

#plh {
    margin-left: 100px;
    width: 500px;
    height: 40px;
}

#topnav {
    color: black;
    text-align: center;

    font-size: 17px;
}

#styling {
    box-shadow: 0 2px 8px rgb(111, 117, 117);
    height: 50px;
    width: 200px;
    /* margin: 50px; */
    background-color: rgb(227, 231, 231);
    border-radius: 10px;
    color: rgb(197, 53, 53);
    text-align: center;
    font-size: large;
}


#popup{
    margin-left: 40%;
    box-shadow: 0 2px 8px rgb(210, 214, 214);
    height: 200px;
    width: 300px;
    /* visibility: hidden; */
    
}

.skill {
    /* margin-bottom: 35px; */
    
    position: relative;
    overflow-x:hidden;
    background-color: bisque;
    }
   
    .skill > p {
    /* margin-bottom: 300px; */
    font-size: 16px;    
    color: #1a1716;
    margin: 0;
    }
    
    .skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
    }
   
    .skill-bar {
    width: 100%;
    height: 10px;
    background:#f4392f;
    display: block;
    position: relative;
    }
   
    .skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
    }
   
    .skill-bar {
    position: relative;
    }

    .skill1 {
    width: 1%;
    }

    .dim {
        /* For Internet Explorer */
       filter:brightness(50%);
    }